@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Portrait o Vertical */ 
@media screen and (orientation:portrait) {
    #contenedor {
        width: 80vw;
        height: 80vh;
        min-height: 700px;
        min-width: 400px;
    }
    .responsiveHV{
        width: 100%;
        height: 50%;
    }
} 

@media screen and (orientation:landscape) {
    #contenedor {
        width: 60vw;
        height: 50vh;
        min-height: 400px;
        min-width: 800px;
    }
    .responsiveHV{
        width: 50%;
        height: 100%;
    }
} 

body {
    background-image: url("res/sueros.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: montserrat;
}

#contenedor {
    border-radius: 30px;
    overflow: hidden;
    /* min-height: 400px;
    min-width: 800px; */
    position: absolute;
    inset: 0;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

#calculadora {
    background-color: rgb(228, 228, 228);
    color: #393E41;
    float: left; 
    text-align: center;   
}


#infoCalc {
    font-size: 14px;
    margin: 20px;
    text-align: left;
}

#infoCalculo {
    background-color: #32936F;
    color: azure;
    float: left;
    text-align: center;
}

.contenido {
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

input {
    font-style: italic;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 12px 15px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

#subHidratacionBasal {
    font-size: 14px;

}
button {
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #32936F;
    border: 1px solid #32936F;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
}

button:active {
   transform:rotate(5deg) ;
}